
/* google fonts  */
.primary-text {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 800;
}

.nav-text {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.secondary-text {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

/* font - color   */
.primary-color {
    color: #E95A08;
}

.secondary-color {
    color: #8987A1;
}

/* general button design  */
.button {
    background-color: #E95A08;
    color: #ffffff;
    border-radius: 7px;
    padding: 9px 16px;
}
/* offer design  */
.offer-background{
    background-color: black;
}
.offer-text{
    color: #ffffff;
}
/* subscription section  */
.subscription{
    background-image: url("./assets/news-letter-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.input input{
    background-color: #ffffff;
    color: rgb(59, 59, 59);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 9px 16px;
}
.input-button{
        background-color: #E95A08;
        color: #ffffff;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        padding: 9px 16px;
    
}